<div class="index">
  <div class="solved">
    <table border="1">
      <tr>
      <th><%= link_to "全て", questions_path, class: "btn btn-primary mr-3" %></th>
      <th><%= link_to "解決済質問", question_solved_path, class: "btn btn-primary mr-3" %></th>
      <th><%= link_to "未解決質問", question_unsolved_path, class: "btn btn-primary mr-3" %></th>
      </tr>
    </table>
  </div>

  <div class="search">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :body_cont, placeholder:"検索ワード" %>
    <%= f.submit "検索" %>
  <% end %>
  </div>
  
  
    <% @questions.each do |question| %>
      <div class="question-container">
          <div class="image">
            <%= image_tag question.user.image, class: "rounded-circle", size: "120x120" if question.user.image.attached? %>
            <p><%= question.user.nickname %></p>
          </div>
          <div class="question-title">
            <%= link_to question.title, question %>
            <% if  question.solved %>
            <%= ":解決済み" %>
            <% else %>
            <%= ":未解決"%>
            <% end %>
          </div>
      </div>
    <% end %>

  
  <div class="page">
  <%= paginate @questions %>
  </div>
</div>



