<!DOCTYPE html>
<html>
  <head>
    <title>Learning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Learning</h1>
      <div class="header-list">
        <ul>
        <% if current_user %>
        <li><%= link_to "新規投稿", new_question_path %></li>
        <li><%= link_to "質問一覧", questions_path%></li>
          <% if current_user.admin? %>
            <li><%= link_to "管理者：ユーザー一覧", admin_users_path%></li>
            <li><%= link_to "管理者：質問一覧", admin_users_question_path%></li>
            <li><%= link_to "管理者：新規ユーザー作成", new_admin_user_path%></li>
          <% end %>
        <li><%= link_to "ログアウト", logout_path, method: :delete%></li>
        <% else %>
        <li><%= link_to "ログイン", login_path %></li>
        <% end %>
        </ul>
      </div>
    </header>
    <main>
        <%= yield %>
    </main>
  </body>
</html>
